<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186468891275-g5gakcu760q2vsrn0j593o485us7benj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186468891275-g5gakcu760q2vsrn0j593o485us7benj</string>
	<key>API_KEY</key>
	<string>AIzaSyBEl2RSFI1OAIu3ZzFJdKBaWAxXkjVVy8w</string>
	<key>GCM_SENDER_ID</key>
	<string>186468891275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kwicApp</string>
	<key>PROJECT_ID</key>
	<string>searchengine-c740c</string>
	<key>STORAGE_BUCKET</key>
	<string>searchengine-c740c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186468891275:ios:794aff18c00bf18fa7f28e</string>
</dict>
</plist>